.timkeo-banner {
    margin-left: 475px
}

.button-group-dropdown {
    margin-left: 300px
}

.product-list {
    width: 160px;
    height: 50px;
    background: white;
}

.checkout {
    width: 160px;
    height: 50px;
    background: white;
}

.free-ship {
    width: 160px;
    height: 50px;
    background: white;
}

.twenty-percent {
    width: 160px;
    height: 50px;
    background: white;
}

