.card {
    padding: 10px 10px 10px 10px;
    margin-bottom: 35px;
    border: solid #b0b0b0;
    border-width: thin;
    border-radius: 10px 10px 10px 10px;
}

.quick-review {
    padding-bottom: 10px;
    padding-right: 10px;
}

.quick-review a {
    text-decoration: none;
    color: white;
}

.add-cart {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.add-cart a {
    margin-right: 1px;
    margin-left: -20px;
    padding-left: 25px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.name {
    padding-left: 0px;
}

.gender {
    padding-left: 100px;
}

.price {
    padding-left: 0px;
}

