.form {
    padding: 100px 160px 100px 200px;
    margin: 0px 400px 0px 400px;
}

.form-child {
    padding: 100px;
    margin: 50px 300px;
    border-width: 2px;
    border: solid grey;
    border-radius: 10px;

    background-image: url(../../img/imagesShoes/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


